@tailwind base;
@tailwind components;
@tailwind utilities;

.banner1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("https://i.ibb.co/fCW619P/peter-herrmann-Os-R6af-EObhw-unsplash.jpg");
    background-size: cover;
    background-position: center;
    max-width: inherit;
    min-height: 700px;
    /* min-height: 550px; */
  }
  
  .footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("https://i.ibb.co/PDtHqdF/peter-herrmann-KEUz-DBVqd8s-unsplash.jpg");
    background-size: cover;
    background-position: center;
    min-height: 350px;
  }